html { font-family: Saira Extra Condense;
  font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size: 1.2rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.3rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html { font-size: 2rem; }
}


.fa:hover{
  transform: scale(1.5);
  font-size: 60px;
}
.fa{
 
 transition: transform .2s; 
  color: #333;
}
.lead{
  font-size: 32px;
}
a{
  text-decoration: none;
  color: #333;
}
a:hover{
  text-decoration: none;
  color: #333;


}
header
{
 height: 100vh;

 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}

*{
  font-family: 
}

#start{background :#333;
color:#fff;
height: 100%}


body,html {
  width: 100%;
  height: 100%;
  background: #333; 
}
.tile {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffc300;
}
#a {
  background-color: #333;
}

round-button {
  width: 25%;
}

.round-button-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 10px solid #98a1a4;
  overflow: hidden;
}

.round-button-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 10px solid #98a1a4;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
  background: #30588e;
}

.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

 input {
  background: #333;
  color: #ffc300;
    width: 25rem;
    border: 1px solid #ffc300;
    padding: 12px;
}
#a h1{
  color: #ffc300;
    
}

.display-4{
  font-weight: 100;
  font-size: 3.9rem;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}


.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}
 input[type=submit]:hover{
  background: #ffc300;
  color: #333;

}


    .modal-header {
      border-bottom: none;
    }

.modal-footer {   
    border-top: none;
}
.modal{
  color : #ffc300;
}
.modal-content{
  background: #333;
}
.yellow:hover{
  width: 25%;
  background: #ffc300;
  border-color: #ffc300;
}
.yellow{
  width: 25%;
  background: #333;
  color: #ffc300;

}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#info:hover{
  
  cursor: pointer;
}

