

.display-4{
  color: #777575
}


.fa-heart{
  color: #F74933;
  }   

 .space-100{
    height: 100px;
    display: block;
 }
       
        .atv, .str{
            color: #05AE0E;
        }
        .tag, .pln, .kwd{
             color: #3472F7;
        }
        .atn{
          color: #2C93FF;
        }
        .pln{
           color: #333;
        }
        .com{
            color: #999;
        } 

        .navbar-ct-black{
          background: #333;
          border-radius: 0px;
        }

        .active{
               background-color: rgba(255, 255, 255, 0.2);
               border-radius: 4px;
              color: #FFFFFF;
               opacity: 1;
        }

    
